/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ececed;
    color: #0a0b0b;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff5733;
}

/* Hero section styles */
.hero {
    background-image: url('Site web/Jordan Shoes _ Air Jordan Retro Metallic Gold 4s _ Color_ Gold _ Size_ 8_5.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: #000709;
   
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.hero button {
    background-color: #c4bc75;
    color: #ebe4e4;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #ebebeb;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #e0ce54;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
/* Additional CSS for product listing page */

/* Product list section */
.product-list {
    padding: 40px 20px;
    text-align: center;
}

.product-list h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Products grid */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.333% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.product-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.product-item button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.product-item button:hover {
    background-color: #e14e2b;
}
